<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171975214780-7jbumjuvbdq2a2c4a5eptiepimfqtd8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171975214780-7jbumjuvbdq2a2c4a5eptiepimfqtd8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAEFHIy4UVsXkLlgJst9ggbsuIPvRdivvo</string>
	<key>GCM_SENDER_ID</key>
	<string>171975214780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-1596f</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-1596f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171975214780:ios:56baea1e81ae376dad32b9</string>
</dict>
</plist>